

/* Media query para pantallas de menos de 750px */
@media screen and (max-width: 750px) {

    #menu > div:first-child > i {
        display: block;
        cursor: pointer;
    }

    #menu > div:first-child > ul {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        z-index: 1;
        padding: 30% 0;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.9);
        transition-duration: 1s;
    }

    #menu > div:first-child > ul > li > a {
        text-decoration: none;
        font-size: 2em;
    }

    #menu > div:first-child > ul > li:last-child {
        display: block;
        position: absolute;
        right: 2em;
        top: 2em;
    }

    #menu > div:first-child > ul > li:last-child > i {
        color: white;
        font-size: 2em;
        cursor: pointer;
    }


    section {
        width: 100%;
        padding: 2em;
        padding-top: 4em;
        position: flex;
        flex-direction: column;
    }

    #modal > figure {
        flex-direction: column;
        width: 100%;
    }

    #modal > figure > * {
        width: 80%;
        margin: 1rem 0;
    }

    #items{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;

}

    #items > div {
    width: 100%;
    margin: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2em 0;
    align-items: center;
}

    #items > div > figure {
    width: 100%;
    position:center;
    margin: 2em;
    cursor: pointer;
}

#items > h4 {
    color: red;
    text-align: center;
    width: 100%;
    z-index: 2;
}
.centered {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-weight: 550;
  color: darkred;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  mix-blend-mode:hard-light;
  font-size: 2em;
  text-align: center;
}
}

/* Media query para pantallas de menos de 600px */
@media screen and (max-width: 600px) {
    #disenios > div > figure {
        flex: 100%;
    }

    #contacto > div {
        flex-direction: column;
        gap: 1rem;
    }

    #contacto > div > * {
        width: 100%;
    }
}
/* ----------- Media Query: Mobile ----------- */
@media (max-width: 768px) {

  .hamburger {
    display: block;
  }

  /* Hide navigation links by default */
  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background: #444;
    width: 200px;
    flex-direction: column;
    padding: 15px 0;
    gap: 15px;
    display: none;
  }

  /* Show menu when checkbox is checked */
  .nav-toggle:checked ~ .nav-links {
    display: flex;
  }
}
