
.chelsea-market-regular {
  font-family: "Chelsea Market", system-ui;
  font-weight: 400;
  font-style: normal;
}
.rubik-variable {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
    --fuente-titulos: 'Chelsea Market', system-ui;
    --fuente-texto: 'Rubik', sans-serif;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fuente-texto);
    scroll-behavior: smooth;
}

#general {
    overflow-x: hidden;
    background-image: url(../img/ruled.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

figcaption {
    text-align: justify;
}
footer {
    background-color: black;
    color: white;
    padding: 4em;
    font-size: 0.8em;
}

footer > p:not(:first-child) {
    padding-left: 1em;
}

footer > p > a {
    color: white;
    text-decoration: none;
}

h1 > a,
h2,
h3 {
    font-family: var(--fuente-titulos);
    color: red;
}

h2 {
    font-size: 2rem;
}

 header {
    width: 100%;
    height: 100vh;
    position: sticky;
    top: calc(-100vh + 3em);
    z-index: 1;
    background-image: url(../img/mantones.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header > p {
    font-size: 12vw;
    width: 2em;
    margin-left: 1rem;
    color:red;
    mix-blend-mode:color-dodge;
}


 #terceros {
    width: 100%;
    height: 100vh;
    position: sticky;
    top: calc(-100vh + 3em);
    z-index: 1;
    background-image: url(../img/calle1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header > p {
    font-size: 12vw;
    width: 2em;
    margin-left: 1rem;
    color:red;
    mix-blend-mode:color-dodge;
}

img {
    width: 100%;
    vertical-align: middle;
}


#items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

}

#items > div {
    width: 100%;
    margin: 1em;
    display: flex;
    padding: 2em 0;
}

#items > div > figure {
    width: 100%;
    position: relative;
    margin: 2em;
    cursor: pointer;
}

#items > h4 {
    color: red;
    text-align: center;
    width: 100%;
    z-index: 2;
}
.centered {
  position:relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-weight: 550;
  color: darkred;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  mix-blend-mode:hard-light;
  font-size: 2em;
  text-align: center;
}

.logo {
    font-family: var(--fuente-titulos);
    font-weight: normal;
}

.logo > strong {
    font-family: var(--fuente-titulos);
    font-weight: bold;
}

#madriz {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

#madriz > div:first-child {
    width: 50%;
}

#madriz > div:last-child {
    width: 70%;
}

#madriz > div:last-child > p {
    margin-top: 1em;
    font-weight: 400;
    font-size: 1.5rem;
}



#menu {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}

#menu > div:first-child > i,
#menu > div:first-child > ul > li:last-child {
    display: none;
}

#menu > div:first-child > ul {
    width: 30em;
    padding: 0;
    display: flex;
    justify-content:space-around;
}

#menu > div:first-child > ul > li {
    list-style: none;
}

#menu > div:nth-child(2) {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu > div:nth-child(2) > i {
    cursor: pointer;
}

#menu > h1 > a {
    text-decoration: none;
    color: black;
    font-weight: normal;
}

#menu > div > i,
#menu > div > ul > li > a,
#menu > div > i,
#menu > h1 > a {
    color: white;
}


section {
    min-height: 100vh;
    width: 80%;
    max-width: 1500px;
    padding: 4em;
    margin: 0 auto;
}

section > div > #items > div{
    margin: 2em;
}

#modal {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    display: none;
    justify-content: center;
    align-items: center;
}

#modal > figure {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

#modal > figure > * {
    width: 50%;
    max-width: 600px;
    align-self: center;
}

#modal > i {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: black;
}

.titol {
    font-family: var(--fuente-titulos);
}

/* Media query para pantallas de menos de 750px */
@media screen and (max-width: 750px) {

    #menu > div:first-child > i {
        display: block;
        cursor: pointer;
    }

    #menu > div:first-child > ul {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        z-index: 1;
        padding: 30% 0;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.9);
        transition-duration: 1s;
    }

    #menu > div:first-child > ul > li > a {
        text-decoration: none;
        font-size: 2em;
    }

    #menu > div:first-child > ul > li:last-child {
        display: block;
        position: absolute;
        right: 2em;
        top: 2em;
    }

    #menu > div:first-child > ul > li:last-child > i {
        color: white;
        font-size: 2em;
        cursor: pointer;
    }


    section {
        width: 100%;
        padding: 2em;
        padding-top: 4em;
        position: flex;
        flex-direction: column;
    }

    #modal > figure {
        flex-direction: column;
        width: 100%;
    }

    #modal > figure > * {
        width: 80%;
        margin: 1rem 0;
    }

#items{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;

}

#items > div {
    width: 100%;
    margin: 1em;
    display:block;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2em 0;
}

#items > div > figure {
    width: 100%;
    position:inherit;
    margin: 2em;
    cursor: pointer;
}

#items > h4 {
    color: red;
    text-align: center;
    width: 100%;
    z-index: 1;
}
.centered {
  position:relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-weight: 550;
  color: darkred;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  mix-blend-mode:hard-light;
  font-size: 2em;
  text-align: center;
}
}

/* Media query para pantallas de menos de 600px */
@media screen and (max-width: 600px) {
    #disenios > div > figure {
        flex: 100%;
    }

    #contacto > div {
        flex-direction: column;
        gap: 1rem;
    }

    #contacto > div > * {
        width: 100%;
    }
}
/* ----------- Media Query: Mobile ----------- */
@media (max-width: 768px) {

  .hamburger {
    display: block;
  }

  /* Hide navigation links by default */
  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background: #444;
    width: 200px;
    flex-direction: column;
    padding: 15px 0;
    gap: 15px;
    display: none;
  }

  /* Show menu when checkbox is checked */
  .nav-toggle:checked ~ .nav-links {
    display: flex;
  }
}
